body
{
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	/*background-image: url("/img/coy_OSU.JPG"), url("/img/wide.JPG");*/
	background-repeat: no-repeat;
	object-fit: cover;
	height: auto;
	background-size: cover; 

}
/*---------------- Header CSS ----------------*/

#header
{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(img/blue_circuit.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.title {
	color:#FFCB05;
	font-style: normal;
	font-size: 17px;
	font-weight: 400px;
	line-height: 50px;
	text-align: center;
	text-transform: none;
}

.user-box
{
	top: 0px;
	left: 0px;
	width: 100%;
	position: sticky;
	height: 110px;
	background-color: #00274C;
	display: inline-block;
	justify-content: space-between;
	background-size: cover;
}

.user-box a
{
	text-decoration: none;
	text-decoration-color: white;
	color: white;
}
.user-box a:visited
{
	color: white;
}

.user-box img
{
	display: block;
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 12px;
	object-fit: cover;
	height: auto;

	border-radius: 50%;
	width: 100px;
	size: cover;
	float: left;
	border: 2px solid #6caed5;
	align-items: center;
	top: 0;
	left: 0;
}

.user-box h1
{
	display: inline-block;
	color: #fff;
	font-weight: bold;
	margin: 15px;
	margin-top: 30px;

}

.user-box h3
{
	color: #fff;
	text-align: center;
}

.user-box p{
	text-align: center;
	font-weight: bold;
	color: #fff;

}

.rightImage {
	/*height: 100%;*/
}

.rightImage img {
	/*height: 100%;*/
	object-fit: cover;
}
