body
{
	margin: 0;
	padding: 0;

	font: sans-serif;
	background-image: url("/img/coy_OSU.JPG");
	object-fit: cover;
	height: auto;
	background-size: cover; 

}
/*---------------- Header CSS ----------------*/

#header
{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(img/blue_circuit.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.title {
	color:#FFCB05;
	font-style: normal;
	font-size: 17px;
	font-weight: 400px;
	line-height: 50px;
	text-align: center;
	text-transform: none;
}

.user-box
{
	top: 0px;
	left: 0px;
	width: 100%;
	position: sticky;
	height: 110px;
	background-color: #00274C;
	display: inline-block;
	justify-content: space-between;
	background-size: cover;
}

.user-box a
{
	text-decoration: none;
	text-decoration-color: white;
	color: white;
}
.user-box a:visited
{
	color: white;
}

.user-box img
{
	display: block;
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 12px;
	object-fit: cover;
	height: auto;

	border-radius: 50%;
	width: 100px;
	size: cover;
	float: left;
	border: 2px solid #6caed5;
	align-items: center;
	top: 0;
	left: 0;
}

.user-box h1
{
	display: inline-block;
	color: #fff;
	font-weight: bold;
	margin: 15px;
	margin-top: 30px;

}

.user-box h3
{
	color: #fff;
	text-align: center;
}

.user-box p{
	text-align: center;
	font-weight: bold;
	color: #fff;

}

.rightImage {
	height: 100%;
}

.rightImage img {
	height: 100%;
}

.spacer {
	height: 110px;
	width: 100%;
}

.scroll-btn
{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #fff;
	padding: 10px 10px 20px;
	border-radius: 30px;
}

.scroll-bar span
{
	border: 2px solid #fff;
	font-size: 10px;
	border-radius: 30px;
}

.scroll-bar
{
	animation: mover 1s infinite alternate;
}
@keyframes mover
{
	0%{transform: translateY(-8px);}
	100%{transform: translateY(10px);}
}


i {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.down {
	transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.ct_down{
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
	color: #fff;
}

.main-container
{
	width: 100%;
	overflow: hidden;
}

.left
{
	width: 800px;
	height:479px; 
	float: left;
	background-color: #00274C;
}

.right
{
	max-width: 100%;
	max-height: 150%;
	margin-left: 800px;
}
img
{
	max-width: 100%;
	max-height: 150%;
}

/*.left
{
	align-items: center;
	justify-content: center;
	display: flex;
}*/

.left h1
{
	color: #FFCB05;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

.left p{
	color: #fff;
	text-align: center;
	
}

.left button
{
	background-color: #FFCB05;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	display: block;
	
	margin-top: 50px;
	margin-bottom: 0px;

	
}

.btn-container
{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 275px;
	
}

.wrap {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 310px;  
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;

	background-color: #FFCB05;
	border: none;
	color: black;
	padding: 0px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	display: block;
	
	margin-top: 50px;
	margin-bottom: 0px;

}